<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>273748255220-nsqdpa4fn6laatea1g7sd8cp4k6a6pp3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.273748255220-nsqdpa4fn6laatea1g7sd8cp4k6a6pp3</string>
	<key>API_KEY</key>
	<string>AIzaSyCgTTp09sUjXRyzibxxaoAP5xzO8NKor_o</string>
	<key>GCM_SENDER_ID</key>
	<string>273748255220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-step02</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-step02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273748255220:ios:293fddd663c9e6ce3f59a1</string>
</dict>
</plist>